{{ define "main" }}
<ul class="post-list centered">
  {{- range where site.RegularPages "Section" "posts" }}
  {{- $words := findRE `\S+` (.Plain | htmlUnescape) }}
  <li>
    <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    <a class="post-link" href="{{ partial "clean-url.html" .RelPermalink }}">{{ .Title }}</a>
    <p class="post-excerpt">{{ delimit (first 20 $words) " " }}{{ if gt (len $words) 20 }}&hellip;{{ end }}</p>
  </li>
  {{- end }}
</ul>
{{ end }}
