{{ define "main" }}
<div class="home">

  {{ range where site.RegularPages "Section" "posts" }}
  {{- $words := findRE `\S+` .Plain }}
  <div class="post postContent">
    <div  class="postDate"><time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" itemprop="datePublished">{{ .Date.Format "Jan 2, 2006" }}</time>
    </div>
    <div class="postDay">
    </div>
    <br>
    <div class="postTitle">
    <a class='postLink' href="{{ partial "clean-url.html" .RelPermalink }}">{{ .Title }}</a>
    </div>
    <div class="postExt">
   {{ delimit (first 20 $words) " " }}{{ if gt (len $words) 20 }}...{{ end }}
    </div>
  </div>

  {{ end }}

</div>
{{ end }}
